fastapi==0.115.*
uvicorn[standard]==0.34.*
celery[redis]==5.4.*
redis==5.2.*
psycopg2-binary==2.9.*
sqlalchemy==2.0.*
geoalchemy2==0.15.*
rasterio
rio-cogeo
pyrosm
geopandas
shapely
pyproj
scipy
whitebox
alembic
aiofiles
pillow

# Testing
pytest
pytest-cov
